whalesharestalk.io {
    cors

    # client
    proxy / localhost:3006 {
		websocket
    }

    # rest
    proxy /rest 0.0.0.0:5138 {
        without /rest
    }

    proxy /wss 0.0.0.0:8099 {
	websocket
        without /wss
    }
}
